.App {
  text-align: center;
}
.piccode {
  position: relative;
  margin: 0 auto;
  text-align: left;
   width: 100%
}
.captchain{
  position: relative;
  top:46px;
  margin-left:20px;
  text-align: center;
}